.mdl-card.mdl-shadow--4dp#movie-card
    .mdl-card__title.mdl-color--primary
        h2.mdl-color-text--accent-contrast.mdl-card__title-text Movies
    .mdl-card__menu
    .mdl-card__media.mdl-color--white(ng-controller='MoviesCtrl')
        h5.movie-title Downloaded
        slick(ng-if="moviesdownloaded.movies", settings="slickConfig")
            div(ng-repeat='movie in moviesdownloaded.movies')
                img.poster.mdl-shadow--4dp(ng-src='{{movie.info.images.poster[0]}}')
        .mdl-card--border
        h5.movie-title Coming Soon
        slick(ng-if="moviescomingsoon.movies", settings="slickConfig")
            div(ng-repeat='movie in moviescomingsoon.movies')
                img.poster.mdl-shadow--4dp(ng-src='{{movie.info.images.poster[0]}}')