link(href="/css/style.min.css", rel="stylesheet")
link(href="/fullcalendar/fullcalendar.min.css", rel="stylesheet")
link(href="/material-design-lite/material.min.css", rel="stylesheet", type="text/css")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(href="http://fonts.googleapis.com/css?family=Roboto:300,400,500", rel="stylesheet", type="text/css")
link(href="/normalize/normalize.css", rel="stylesheet")
link(href="/slick/slick.css", rel="stylesheet")
link(href="/animate/animate.min.css", rel="stylesheet")
link(href="/angular-loading-bar/loading-bar.min.css", rel="stylesheet")
link(href="/qtip2/jquery.qtip.min.css", rel="stylesheet")