//link(href="/css.min.css", rel="stylesheet")
link(href="/css/animations.css", rel="stylesheet")
link(href="/css/bootstrap-progress-bars.css", rel="stylesheet")
link(href="/css/cards.css", rel="stylesheet")
link(href="/css/loading-bar.css", rel="stylesheet")
link(href="/css/loading-dots.css", rel="stylesheet")
	
link(href="/css/movies.css", rel="stylesheet")
link(href="/css/tv.css", rel="stylesheet")

link(href="/fullcalendar/fullcalendar.min.css", rel="stylesheet")

link(href="/material-design-lite/material.min.css", rel="stylesheet", type="text/css")

link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(href="//fonts.googleapis.com/css?family=Roboto:300,400,500", rel="stylesheet", type="text/css")

link(href="/normalize/normalize.css", rel="stylesheet")

link(href="/slick/slick.css", rel="stylesheet")

link(href="/animate/animate.min.css", rel="stylesheet")

link(href="/qtip2/jquery.qtip.min.css", rel="stylesheet")