doctype html
html
    head
        title="Hey You!"
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        include css
    body(ng-app='myApp')
        include layout
    include js
