// contents of the app. to fill the iframe
doctype html
html
    head
        title="Hey You!"
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        include css
    body(ng-app='homepageApp')
        div(ng-controller="LoadingCtrl")
            .loading-stuff(ng-hide="loaded")
                include loading
            .mdl-grid.ng-cloak(ng-show="loaded", ng-cloak)
                .mdl-cell.mdl-cell--3-col#grid-left-section
                    //.mdl-cell--12-col#weather-section
                        include sections/weather
                    //.card-separator
                    #system-section
                        include sections/system
                    //.section-separator
                .mdl-cell.mdl-cell--4-col#grid-middle-section
                    #movies-section
                        include sections/movies
                    //.section-separator
                .mdl-cell.mdl-cell--5-col#grid-right-section
                    #sonarr-section
                        include sections/tv
                    //.card-separator
                    //.mdl-cell--12-col#prtg-section
                        include sections/prtg
        include js