// contents of the app. to fill the iframe
doctype html
html
    head
        title="Hey You!"
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        include css
    body(ng-app='homepageApp')
        div(ng-controller="LoadingCtrl")
            .loading-stuff(ng-hide="loaded")
                include loading
            .mdl-grid.ng-cloak(ng-show="loaded", ng-cloak)
                .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone#grid-left-section
                    #storage-section
                        include sections/storage
                .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone#grid-middle-section
                    #movies-section
                        include sections/movies
                .mdl-cell.mdl-cell--5-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone#grid-right-section
                    #sonarr-section
                        include sections/tv
        include js