script(src="/jquery/jquery.min.js")
script(src="/angular/angular.min.js")
script(src="/moment/min/moment.min.js")
script(src="/ui-calendar/calendar.js")
script(src="/fullcalendar/fullcalendar.min.js")

script(src="/js/scripts.min.js")

script(src="/material-design-lite/material.min.js")
script(src="/slick/slick.min.js")
script(src="/angular-slick/angular-slick.min.js")
script(src="/angular-loading-bar/loading-bar.min.js")
script(src="/angular-animate/angular-animate.min.js")
script(src="/qtip2/jquery.qtip.min.js")
script(src="/qtip2/imagesloaded.pkg.min.js")