script(src="/jquery/jquery.min.js")

script(src="/angular/angular.min.js")

script(src="/moment/min/moment.min.js")

script(src="/ui-calendar/calendar.js")

script(src="/fullcalendar/fullcalendar.min.js")

script(src="/js/controllers/app.module.js")
script(src="/js/controllers/loading.js")
script(src="/js/controllers/movies.js")
script(src="/js/controllers/storage.js")
script(src="/js/controllers/tv.js")

script(src="/js/directives/qtip2.js")

script(src="/js/custom.js")

script(src="/material-design-lite/material.min.js")

script(src="/slick/slick.min.js")

script(src="/angular-slick/angular-slick.min.js")

script(src="/angular-loading-bar/loading-bar.min.js")

script(src="/angular-animate/angular-animate.min.js")

script(src="/qtip2/jquery.qtip.min.js")

script(src="/qtip2/imagesloaded.pkg.min.js")