doctype html
html
    head
        title="Hey You!"
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
        include css
    body(ng-app='indexApp')
        include navbar
        .fill
            iframe#iframe1(name="iframe1", src="homepage", frameborder="0")
    include js
