script(src="http://code.jquery.com/jquery-2.2.0.min.js")
//script(src="/jquery/jquery.min.js")

script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
//script(src="/angular/angular.min.js")

script(src="/js/index.min.js")

script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
//script(src="/materialize/js/materialize.min.js")

script.
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    })