script(src="/jquery/jquery.min.js")
script(src="/angular/angular.min.js")
script(src="/js/index.min.js")
script(src="/materialize/js/materialize.min.js")
script.
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    })