nav.indigo.darken-1(ng-controller='ServiceCtrl')
    .nav-wrapper
        a.brand-logo(href="#!")
            img.avatar(src="/img/avatar.png")
        a.button-collapse(href="#", data-activates="mobile-demo")
            i.material-icons menu
        ul.right.hide-on-med-and-down
            li(ng-repeat='service in services')
                a(href="{{service.url}}" target="iframe1")
                    .service-name(ng-class="{'grey-text text-darken-1': service.status == 'closed'}") {{service.name}}
        ul#mobile-demo.side-nav
            li(ng-repeat='service in services')
                a(href="{{service.url}}" target="iframe1")
                    .service-name(ng-class="{'grey-text text-lighten-1': service.status == 'closed'}") {{service.name}}