/* http://codepen.io/brycesnyder/pen/GpRYWV */
.green, .base1, .base2, div.loading:nth-child(4) {
    background:#0f9d58
}

.red, div.loading:nth-child(2) {
    background:#db4437
}

.blue, .loading {
    background: #4285f4;
}

.yellow, div.loading:nth-child(3) {
    background: #f4b400;
}

.loading-dots {
    display: block;
    width: 122px;
    margin: 100px auto;
}

.loading-dots.ng-hide {
    opacity: 0;
}

div.loading {
    margin-left: 0;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    animation: move 1s ease-in-out infinite alternate;
}
div.loading:nth-child(2) {
    animation: move 1s ease-in-out -0.25s infinite alternate;
    margin-left: 35px;
}
div.loading:nth-child(3) {
    animation: move 1s ease-in-out -0.5s infinite alternate;
    margin-left: 70px;
}
div.loading:nth-child(4) {
    animation: move 1s ease-in-out -0.75s infinite alternate;
    margin-left: 105px;
}

@-moz-keyframes move {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }
}
@-webkit-keyframes move {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }
}
@-o-keyframes move {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }
}
@keyframes move {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }
}