/* push it down a little */
#weather-icon {
    padding-top: 20px;
}

/* stretch it out over its div*/
#weather-image {
    max-width: 100%;
    max-height: 100%;
}

/* make the title fit snuggly */
#weather-title {
    margin: 0 !important;
}

/* side of the weather icon */
.section__circle-container > .section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0;
}
