link(href="/css/homepage.min.css", rel="stylesheet")

link(href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css", rel="stylesheet")
//link(href="/fullcalendar/fullcalendar.min.css", rel="stylesheet")

link(href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css", rel="stylesheet", type="text/css")
//link(href="/material-design-lite/material.min.css", rel="stylesheet", type="text/css")

link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500", rel="stylesheet", type="text/css")

link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet")
//link(href="/normalize/normalize.css", rel="stylesheet")

link(href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css", rel="stylesheet")
//link(href="/slick/slick.css", rel="stylesheet")

link(href="/animate/animate.min.css", rel="stylesheet")

//link(href="/angular-loading-bar/loading-bar.min.css", rel="stylesheet")

link(href="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css", rel="stylesheet")
//link(href="/qtip2/jquery.qtip.min.css", rel="stylesheet")