// contents of the app. to fill the iframe
doctype html
html
    head
        title="Hey You!"
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        include css
    body(ng-app='homepageApp')
        div(ng-controller="LoadingCtrl")
            .loading-stuff(ng-hide="loaded")
                include loading
            .mdl-layout__content.ng-cloak(ng-show="loaded", ng-cloak)
                .mdl-grid
                    .mdl-cell.mdl-cell--3-col-desktop#grid-left-section
                        .mdl-cell--12-col#weather-section
                            include sections/weather
                        .card-separator
                        .mdl-cell--12-col#system-section
                            include sections/system
                        .section-separator
                    .mdl-cell.mdl-cell--4-col-desktop#grid-middle-section
                        .mdl-cell--12-col#movies-section
                            include sections/movies
                        .section-separator
                    .mdl-cell.mdl-cell--5-col-desktop#grid-right-section
                        .mdl-cell--12-col#sonarr-section
                            include sections/tv
                        .card-separator
                        //.mdl-cell--12-col#prtg-section
                            include sections/prtg
        include js