//script(src="//code.jquery.com/jquery-2.2.0.min.js")
script(src="/jquery/jquery.min.js")

//script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
script(src="/angular/angular.min.js")

//script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js")
script(src="/moment/min/moment.min.js")

//script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.min.js")
script(src="/ui-calendar/calendar.js")

//script(src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js")
script(src="/fullcalendar/fullcalendar.min.js")

//script(src="/js/homepage.min.js")
script(src="/js/homepage/controllers/app.module.js")
script(src="/js/homepage/controllers/loading.js")
script(src="/js/homepage/controllers/movies.js")
//script(src="/js/homepage/controllers/prtg.js")
script(src="/js/homepage/controllers/storage.js")
//script(src="/js/homepage/controllers/system.js")
script(src="/js/homepage/controllers/tv.js")
//script(src="/js/homepage/controllers/weather.js")

script(src="/js/homepage/directives/qtip2.js")

script(src="/js/homepage/custom.js")

//script(src="//storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js")
script(src="/material-design-lite/material.min.js")

//script(src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js")
script(src="/slick/slick.min.js")

script(src="/angular-slick/angular-slick.min.js")

//script(src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js")
script(src="/angular-loading-bar/loading-bar.min.js")

//script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js")
script(src="/angular-animate/angular-animate.min.js")

//script(src="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js")
script(src="/qtip2/jquery.qtip.min.js")

//script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js")
script(src="/qtip2/imagesloaded.pkg.min.js")