.mdl-card.mdl-shadow--4dp(ng-controller='SystemCtrl')
    .mdl-card__title.mdl-color--primary
        h2.mdl-color-text--accent-contrast.mdl-card__title-text System
    .mdl-card__supporting-text.mdl-color-text--grey-600#system
        .system
            p
                strong.os-architecture OS:&nbsp
                | {{system.os}} {{system.arch}}
                br
                strong.system-uptime System Uptime:&nbsp
                | {{system.uptimesys}}
                br
                strong.app-uptime App Uptime:&nbsp
                | {{system.uptimenode}}
            p.cpu-usage
                strong CPU:&nbsp
                | {{system.cpuusage}}%
                progress.progress.mdl-shadow--2dp(value="{{system.cpuusage}}", max="100")
            p.memory
                strong Memory:&nbsp
                | {{system.memused}}{{system.memformat}} / {{system.memtotal}}{{system.memformat}}
                progress.progress.mdl-shadow--2dp(value="{{system.memused}}", max="{{system.memtotal}}")
        .storage(ng-controller='StorageCtrl')
            p.disk(ng-repeat='disk in disks')
                strong {{disk.name}}:&nbsp
                | {{disk.used}}{{disk.unit}} / {{disk.total}}{{disk.unit}}
                progress.progress.mdl-shadow--2dp(value="{{disk.used}}", max="{{disk.total}}", ng-class="{'progress-success': disk.percentage <= 25, 'progress-primary': disk.percentage > 25 && disk.percentage <= 50,'progress-warning': disk.percentage > 50 && disk.percentage <=75,'progress-danger' : disk.percentage > 75 && disk.percentage < 100}")