/** Animations

Fade in from left to right to mirror material design's meaningful transitions.

**/
#storage-section {
    animation-delay: 0.15s;
}

#movies-section {
    animation-delay: 0.25s;
}

#sonarr-section {
    animation-delay: 0.35s;
}